:root{
  --preto:  #000000;
  --cinza:  #72737500;
  --branco: rgb(247, 242, 242);
  --azul:   #1d90f5;
  --azul-escuro:#1c70d3;
  --azul-marinho: #272a37;
  --indigo: indigo;
  --indigo-claro:rgba(153, 59, 219, 0.164);

  }

body{
 width: 100vw;
 height: auto;
background-color: var(--preto);
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

main{
 max-width: 1600px;
 height: auto;

}

nav{
  width: 100%;
  height: auto;
}

nav div{
  width: 100%;
  height: 400px;
  background-image: url(imagens/nav-G.jpg);
  display:flex;
  justify-content:center;
  align-items:center;
  
}


nav div h1{
 max-width: 100%;
 max-height: 100%;
 color: var(--branco);
 font-family:arial, Helvetica,sans-serif; 
 padding: 0px;
 margin: 0px;
 font-size: 60px;
 flex-wrap:wrap;
 
}
nav img{
max-width: 100%;
max-height:100%; 
}


aside{
  max-width: 100%;
  max-height: auto;
  background-color: var(--azul-marinho);
  padding: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
} 

aside div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  max-height: auto;
  padding: 0px;
  margin: 20px;
  
}

 aside  h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 100%;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
  
}

aside p{
  max-width: 360px;
  max-height: 100%;
  font-size: 18px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
  padding-left:30px;
  display: none;

  }
  

 aside h2{
  width: 100%;
  font-size: 20px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 0; 
  text-align: center;
 }


.Discovery:hover p{
  cursor: pointer;
  display: flex;
}


.RoadMap:hover p{
  cursor: pointer;
  display: flex;
}

.MVP:hover p{
  cursor: pointer;
  display: flex;
}

article{
  width: 100%;
  height: auto;
  background-color: var(--azul-marinho);
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  padding: 0px;
  margin-top: 20px;
 
  }

  article div{
  max-width: 100%;
  height: auto;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  justify-items: center;
  align-items:center;
  margin: 20px;

  }
  

article img{
  width: 90%;
  height: 90%;
  padding: 0px;
  margin: 20px;
}


  article h1{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-top: 20px color:var(var(--branco));
    margin-bottom: 0px;
  }

  article p{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-top:0px;
    margin-bottom: 30px;
  
    
    }
 

    @media(max-width: 760px){

      nav div{
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
      }

      nav div h1{
        font-size: 25px;
        flex-wrap: wrap;
    
      }
    
      nav div img{
        width: 50%;
    
      }
    
     aside  h1{
      font-size: 25px;
    
     }

      article img{
        width:70%
      }
      
       
    }