
:root{
  --preto:  #000000;
  --cinza:  #72737500;
  --branco: rgb(247, 242, 242);
  --azul:   #1d90f5;
  --azul-escuro:#1c70d3;
  --azul-marinho: #272a37;
  --indigo: indigo;
  --indigo-claro:rgba(153, 59, 219, 0.164);

  }


body{
  height: 100%;
  width: 100%;
  background-color: var(--preto);
  
}

header{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

nav{
  width: 1700px;
  height: 400px;
  position: relative;
  background-image: url(imagens/nav-G.jpg);

}

nav div{
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  flex-wrap:wrap ;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--cinza);
  margin-left: 200px;
}



  
nav h1{
  width: 100%;
  height: 400px;
  font-size: 60px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  flex-wrap:wrap ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
  
aside{
  width: 1700px;
  height: 800px;
  background-color: var(--azul-marinho);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 text-align: center;
 margin-block-end: 20px;

}
aside div{
  max-width: 100%;
  height: 600px;
  padding: 0px;
  margin: 20px;
  display: block;
  position: relative;
  
}


aside img{
  height: 70%;
}



aside  h1{
  font-size: 60px;
  width: 100%;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0;
  
}

aside h2{
  width: 100%;
  font-size: 20px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: -0px;
  text-align: center;
  position: absolute;
}

aside p{
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
  flex-wrap:wrap ;
  display: flex;
  align-content: end;
  position: absolute;
  bottom: 0;
  background-color: var(--cinza);
  display: none;
}


aside img{
  max-width: 100%;
  margin: 20px;
  padding: 0px;

}


.Discovery:hover p{
  cursor: pointer;
  display: flex;
}


.RoadMap:hover p{
  cursor: pointer;
  display: flex;
}

.MVP:hover p{
  cursor: pointer;
  display: flex;
}


article{
  width: 1700px;
  height: 800px;
  background-color: var(--azul-marinho);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  
}

article div{
 
  margin: 0px;
  padding: 0px;
  max-width: 100%;
 max-height: 100%;
}

article  img{
  max-height: 60%;
  max-width: 60%;
  padding: 0px;
  margin: 0px;

}

article h1{
  width: 100%;
  font-size: 60px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

article p{
  width: 100%;
  font-size: 20px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}